/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* The code was taken by https://www.codingnepalweb.com/ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* I have created this code on my own */
.page-footer {
    font-size: 20px;
    margin-top: 600px;
    justify-content: center;
    color: lightgreen; 
}
@media screen and (max-width: 576px) {
.page-footer {
    font-size: 16px;
    margin-top: 600px;
    justify-content: center;
 }
}  
@media screen and (max-width: 768px) {
.page-footer {
    font-size: 16px;
    margin-top: 600px;
    justify-content: center;
 }
}

/* I have created this code on my own */
div.container-fluid {
    font-size: 40px;
    text-align: center;
    color: lightgreen;
}

@media screen and (max-width:  576px) {
    div.container-fluid {
        font-size: 25px;
        text-align: center;
 }
}
@media screen and (max-width: 768px) {
    div.container-fluid {
        font-size: 25px;
        text-align: center;
 }
 
/* I have created this code on my own */
Body {
    background: darkslategrey;
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
::selection{
    color: #fff;
    background: #fffb00;
}

/* The code was taken by https://www.codingnepalweb.com/ */
.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    color: #3d0275;
    background: rgb(6, 240, 170);
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #3d0275;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgb(6, 240, 170);
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .start_btn button {
        font-size: 18px;
        font-weight: 500;
        color: #3d0275;
        padding: 15px 30px;
        outline: none;
        border: none;
        border-radius: 5px;
        background: rgb(6, 240, 170);
        cursor: pointer;
    }
}
@media screen and (max-width: 768px) {
    .start_btn button {
        font-size: 20px;
        font-weight: 500;
        color: #3d0275;
        padding: 15px 30px;
        outline: none;
        border: none;
        border-radius: 5px;
        background: rgb(6, 240, 170);
        cursor: pointer;
    }
}
/* The code was taken by https://www.codingnepalweb.com/ */
.info_box{
    width: 540px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* The code was taken by https://www.codingnepalweb.com/ */
.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

/* The code was taken by https://www.codingnepalweb.com/ */
.info_box .info-list{
    padding: 15px 30px;
}

/* The code was taken by https://www.codingnepalweb.com/ */
.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

/* The code was taken by https://www.codingnepalweb.com/ */
.info_box .info-list .info span{
    font-weight: 600;
    color: #2600ff;
}

/* The code was taken by https://www.codingnepalweb.com/ */
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

/* The code was taken by https://www.codingnepalweb.com/ */
.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
.quiz_box{
    width: 550px;
    background: rgb(216, 240, 6);
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: rgb(6, 240, 170);
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

/* The code was taken by https://www.codingnepalweb.com/ */
.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
.quiz_box header .timer{
    color: #fff;
    background: #4604fd;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

/* The code was taken by https://www.codingnepalweb.com/ */
.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #400775;
    border: 1px solid #343a40;
    user-select: none;
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
section{
    padding: 25px 30px 20px 30px;
    background: rgb(194, 247, 4);
}

/* The code was taken by https://www.codingnepalweb.com/ */
section .que_text{
    font-size: 25px;
    font-weight: 600;
}

/* The code was taken by https://www.codingnepalweb.com/ */
section .option_list{
    padding: 20px 0px;
    display: block;   
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
section .option_list .option{
    background: rgb(6, 240, 170);
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* The code was taken by https://www.codingnepalweb.com/ */
section .option_list .option:last-child{
    margin-bottom: 0px;
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
section .option_list .option:hover{
    color: #004085;
    background: #f6f7f5;
    border: 1px solid #b8daff;
}

/* The code was taken by https://www.codingnepalweb.com/ */
section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

/* The code was taken by https://www.codingnepalweb.com/ */
section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

/* The code was taken by https://www.codingnepalweb.com/ */
section .option_list .option.disabled{
    pointer-events: none;
}

/* The code was taken by https://www.codingnepalweb.com/ */
section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}

/* The code was taken by https://www.codingnepalweb.com/ */
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

/* The code was taken by https://www.codingnepalweb.com/ */
.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid rgb(133, 5, 253);
}

/* The code was taken by https://www.codingnepalweb.com/ */
footer .total_que span{
    display: flex;
    user-select: none;
}

/* The code was taken by https://www.codingnepalweb.com/ */
footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

/* The code was taken by https://www.codingnepalweb.com/ */
footer .total_que span p:first-child{
    padding-left: 0px;
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #7343f7;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
footer button:hover{
    background: #400775;
}

/* The code was taken by https://www.codingnepalweb.com/ */
footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

/* The code was taken by https://www.codingnepalweb.com/ */
.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
.result_box .icon{
    font-size: 100px;
    color: #400775;
    margin-bottom: 10px;
}

/* The code was taken by https://www.codingnepalweb.com/ */
.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

/* The code was taken by https://www.codingnepalweb.com/ */
.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

/* The code was taken by https://www.codingnepalweb.com/ */
.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

/* The code was taken by https://www.codingnepalweb.com/ */
.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

/* The code was taken by https://www.codingnepalweb.com/ */
.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
.buttons button.restart{
    color: #fff;
    background: #7343f7;
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
.buttons button.restart:hover{
    background: #400775;
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
.buttons button.quit{
    color: #007bff;
    background: #fff;
}

/* The code was taken by https://www.codingnepalweb.com/ and i have adjust it in my needs */
.buttons button.quit:hover{
    color: #fff;
    background: #400775;
}